.flex2 {
    display: flex;
}

.d1 {
    background-color: #D9D9D9;

    /* Light Greystone */
    border: 2px solid #800000;

    /* Maroon */
    margin: 5px;
}

.products {
    margin-top: 130px;
    padding: 20px;
}

.products .pro {
    width: 25%;
    border: 2px solid #737373;

    /* Dark Greystone */
    border-radius: 7px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 70px;
}

.products .pro img {
    width: 100%;
    border: solid 3px #737373;

    /* Dark Greystone */
}

.products .pro a {
    display: block;
    color: white;
    width: 25%;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
    background-color: #800000;

    /* Maroon */
}

.snr {
    text-align: center;
}

.navigation .login {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 60px;
    transition: .5s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 88%;
    height: 7%;
    padding: 10px 100px;
    background: #800000;

    /* Maroon */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #800000;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scalex(0);
    transition: transform .3s;
}

.navigation a:hover::after {
    transform: scalex(1);
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}
